<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>Trigger Filter</title>
</head>

<body>
    <!-- <div hx-post="http://localhost:1330/message" hx-trigger="mouseleave">
        Make POST request
    </div> -->

    <div hx-post="http://localhost:1330/message" hx-trigger="click[true] delay:2s from:#refButton">
        Make POST request
    </div>
    <button type="button" id="refButton" >Click Me</button>

</body>

</html>